torch==2.0.0
numpy
lightning==2.0.2
dypy
dysweep==0.0.5
lightning_toolbox
#
pandas
tqdm
#
bnlearn
seaborn
# for graphs generation and sampling
networkx
jsonargparse[signatures]

cdt
ruamel.yaml
wandb
causal-learn
random-word
