torch==2.0.0
numpy
lightning
dypy
dysweep
lightning_toolbox
#
pandas
tqdm
#
bnlearn
seaborn
# for graphs generation and sampling
networkx
jsonargparse[signatures]

cdt
ruamel.yaml
wandb
causal-learn
random-word